<p>
    Svarene er registrert.
    Du brukte <span id="total-time">0</span> sekunder og hadde <span id="wrong-answers-text">0</span> feil.
    Raskeste tid til nå er <span id="fastest-time" data-fastest-time="<%= fastestTime %>">0</span> s.
    Takk for hjelpen!
</p>
<p>
    Resultatene fra denne undersøkelsen vil bli analysert og brukt i et studentprosjekt ved OsloMet om hvordan
    designvalg påvirker lesehastighet. Vi setter stor pris på din deltakelse, og bidraget ditt vil hjelpe oss
    å forstå mer om hvordan fonter påvirker lesing.
</p>
<p>
    Hvis du er interessert i å lære mer om dette emnet eller se resultatene fra undersøkelsen, kan du sende en e-post til en av oss.
</p>
<%- include ('contact-persons') %>