<p>
    Velkommen til Fontfaktor! Denne undersøkelsen utforsker hvordan ulike fonter påvirker lesehastighet og nøyaktighet.
    Din deltakelse vil bidra til verdifull innsikt i et spennende felt!
</p>
<h2 class="fs-5">Hva skal du gjøre?</h2>
<p>
    Du vil bli presentert for et sett med oppgaver hvor du får et ord som du skal lete etter i en liste med lignende ord.
    Oppgaven din er å finne og klikke på ordet så fort som mulig. Hvis du klikker feil, blir dette registrert,
    men oppgaven fortsetter som før.
</p>
<h2 class="fs-5">Personvern</h2>
<p>
    Vi samler ikke inn identifiserende data eller personopplysninger, det eneste som blir samlet er resultatene
    og en tilfeldig generert ID. Resultatene vil bli brukt til å analysere hvordan ulike designvalg påvirker
    lesehastighet og nøyaktighet, i forbindelse med et studentprosjekt ved OsloMet.
</p>
<h2 class="fs-5">Viktig informasjon</h2>
<p>For å sikre nøyaktige resultater i dette eksperimentet, vil nettleserens standardinnstillinger
    for fonttype og -størrelse bli midlertidig overstyrt. Vi beklager eventuelle ulemper dette måtte medføre.
    Tiden vil bli tatt underveis, så jobb raskt og nøyaktig! Undersøkelsen tar omtrent 3-5 minutter å fullføre.
</p>
<h2 class="fs-5">Samtykke</h2>
<p>
    Ved å klikke på &laquo;Start&raquo; bekrefter du at du har lest og forstått informasjonen ovenfor,
    og at du samtykker til å delta i eksperimentet.
</p>
<p>
    Takk for at du bidrar til forskningen!
</p>
<h2 class="fs-5">Ansvarlige for skjemaet</h2>
<%- include ('contact-persons') %>